.navbar {
    
    height: 120px !important;
    background-color: rgb(4, 209, 76);
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
  }

  .navbar input{
    width:100%;
   outline: none;
   padding:10px 5px 10px 35px;
   font-size:16px;
  }


  .input-wrapper {
    position: relative;
    width:60% !important;
    display:flex;
   
    
  }
  
  .left-button {
    position: absolute;
    left: 0;
    top:6px;
    padding: 8px;
    background:none;
    border: none;
    
  }
  

  
  .links {
    width:70%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    
    font-size: 25px;
  }

  span{

    
    font-size:22px;
  }

  .navbar p{
    cursor:pointer;
  }

  .showLogout{
    position:absolute;
   
    top:157%;
    background-color: rgb(4, 209, 76);
    border-radius: 5px;
    color:white;
    z-index: 100;
  }

  .showLogout ul{
    margin:0;
    padding:0;
  }

  .showLogout ul li{
   display:block;
    
    padding:10px;
    
  }

  .showLogout li:hover{
    background-color: rgb(0, 95, 0);
    cursor:pointer;
    transition:0.3s;
  }

  .navbar a:hover{
    color:green;
  }


  .logo{
   
    font-size:40px;
  }

  .rina{
    font-weight: bold;
  }

  .navbar p{
    color:white;
  }
  .navbar p:hover{
    color:green;
  }

  .navbarFunction{
   
    display:flex;
    width:12%;
    justify-content: space-around;
    align-items: center;
    position:relative;
  }
  
  @media screen and (max-width: 760px) {
    .input-wrapper{
      position:absolute;
      top:120%;
    }

    .navbarFunction{
   
     
      width:18%;
     
    }

    .navbar input{
      
     font-size:12px;
    }

    .links{
      width:100%;
    }
   
    .links a {
      text-decoration: none;
      color: white;
      
      font-size: 25px;
    }

   

    span{
      font-size:12px;
    }

    .links a{
      font-size:16px;
    }

  }

 
  