.login{
    display:flex;
    width:100%;
    height:550px;
    background-color: rgb(230, 230, 230);
    justify-content: center;
    align-items: center;
    
}

.login-content{
    
    
    height:400px;
    width:50%;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

input{
    width:85%;
    height:30px;
}

button{
    width:85%;
    height:35px;
    cursor:pointer;
}

.login-form{
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding:20px;
    height:400px;
    width:400px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-form input{
    padding:5px;
    outline:none;
}

.login-form button{
    background-color: green;
    color:white;
    border-radius: 5px;
    border:none;
}

.login-form button:hover{
    background-color: rgb(0, 87, 0);
    transition:0.3s;
}

.changePass{
    
    display:flex;
    flex-direction: column;
    height:500px;
    align-items: center;
    width:500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.changePass button{
    background-color: green;
    border:none;
    border-radius: 5px;
    color:white;
}

.loginCart{
    margin:auto;
    text-align: center;
    height:40vh;
    margin-top:250px;
}

.loginCart button{
    background-color: green;
    color:white;
    height:60px;
    border-radius: 5px;
    border:none;
    font-size: large;
    width:700px;
    
}

.loginCart button:hover{
    background-color: rgb(0, 81, 0);
    transition:0.3s;
}

.login a{
    text-decoration: none;
    color:green;
}

.login .logo{
    color:green;
    font-size:50px;
}


@media screen and (max-width: 760px) {



.login-content{
    display:none;
}

.login-form{
   margin:10px;
}

.changePass{
    font-size: 12px;
  width:70%;
}

.loginCart{
    margin-top:100px;
}

.loginCart button{
 
    width:60%;
    
}



}